 
 {% extends "KrishiGyan/Base.html" %}
<p id="p" align="center"> {{msg}} </p>

 
 {% block content %}
 {% load static %}
 
  <div class="container">
   

  <div class="page-header mt-2">
    <h1>KrishiKarma</h1>
     <hr class="mt-1 mb-1">
    <br>
  </div>
  <p class="text-secondary">KrishiKarma is built on the premise that all knowledge that helps people grow food should be openly accessible to anyone on the planet. KrishiKarma is a user moderated Q & A forum dedicated to the goal of helping people grow their own food. It is an open, freely available resource that helps you solve all your plant related questions. KrishiKarma is ad free and easy to use.</p>
  <div class="row">

    <div class="col-md-12">
      <article id="">
         
        <div class="entry-content">
           <h3>Farmers :</h3>
         <p class="text-secondary">KrishiKarma is built on the premise that all knowledge that helps people grow food should be openly accessible to anyone on the planet. KrishiKarma is a user moderated Q & A forum dedicated to the goal of helping people grow their own food. It is an open, freely available resource that helps you solve all your plant related questions. KrishiKarma is ad free and easy to use.</p>
          <h3>Companies:</h3>
         <p class="text-secondary">KrishiKarma is built on the premise that all knowledge that helps people grow food should be openly accessible to anyone on the planet. KrishiKarma is a user moderated Q & A forum dedicated to the goal of helping people grow their own food. It is an open, freely available resource that helps you solve all your plant related questions. KrishiKarma is ad free and easy to use.</p>
         
          <br>
        </div>
         
      </article>
      </div>
      </div>
<footer class="footer bg-dark text-white  border rounded">
      
       
<br>

<div class="row">
      <div class="col-md-4 text-center">Contact Us:<br>9821312213</div>
      <div class="col-md-4 text-center">Email :<br>spawar111997@gmail.com</div>
      <div class="col-md-4 text-center">Register:<br><button class="btn btn-link" data-target="#SignUp" data-toggle="modal" data-dismiss="modal">Sign up </button></div>
  </div>
    
     <hr>
   
      <div class="row">
    <div class="col-md-12 copy">
      <p class="text-center">&copy; Copyright 2020 - KrishiKarma.  All rights reserved.</p>
    </div>
  </div>
    </footer>
</div>

{% endblock content %}